*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0 auto;
    max-width: 160ch;
    min-height:80vh; 
}
button{
    background:black;
    color:white;
    padding:.5em;
    font-size:1.1em; 
    border-radius:5px;
    margin:2%;
}
.editable{
    margin:2%;
}